*

!.gitignore
!README.md
!Assets/Project_Scripts/**
!Assets/Project_Scene/**
!Assets/Project_Assets/**
!Assets/Project_Material/**
!Assets/Project_music/**
!Assets/TextMesh Pro/**
!Packages/**
!ProjectSettings/**

!Assets/Project_Scripts/
!Assets/Project_Scene/
!Assets/Project_Assets/
!Assets/Project_Material/
!Assets/Project_music/
!Assets/TextMesh Pro/
!Packages/
!ProjectSettings/
!Assets/
Assets/Project_Assets/0001.png
Assets/Project_Assets/0001.png.meta
Assets/Project_Assets/1212212.jpg
Assets/Project_Assets/1212212.jpg.meta
Assets/Project_Assets/2026-04-04_23-57-05.png
Assets/Project_Assets/2026-04-04_23-57-05.png.meta
Assets/Project_Assets/2026-04-28_18-08-58.png
Assets/Project_Assets/2026-04-28_18-08-58.png.meta
Assets/TextMesh Pro/Examples & Extras/Fonts/Anton.ttf
Assets/TextMesh Pro/Examples & Extras/Fonts/Anton.ttf.meta
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexZoom.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/VertexZoom.cs.meta
Assets/TextMesh Pro/Examples & Extras/Scripts/WarpTextExample.cs
Assets/TextMesh Pro/Examples & Extras/Scripts/WarpTextExample.cs.meta
Assets/TextMesh Pro/Examples & Extras/Sprites.meta
Assets/TextMesh Pro/Examples & Extras/Sprites/Default Sprites.png
Assets/TextMesh Pro/Examples & Extras/Sprites/Default Sprites.png.meta
Assets/TextMesh Pro/Examples & Extras/Textures.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Brushed Metal 3.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Brushed Metal 3.jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Floor Cement.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Floor Cement.jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Floor Tiles 1 - diffuse.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Floor Tiles 1 - diffuse.jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Fruit Jelly (B&W).jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Fruit Jelly (B&W).jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Diagonal (Color).jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Diagonal (Color).jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Horizontal (Color).jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Horizontal (Color).jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Vertical (Color).jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Gradient Vertical (Color).jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Mask Zig-n-Zag.psd
Assets/TextMesh Pro/Examples & Extras/Textures/Mask Zig-n-Zag.psd.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_diffuse.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_diffuse.jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_normal.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Small Crate_normal.jpg.meta
Assets/TextMesh Pro/Examples & Extras/Textures/Sunny Days - Seamless.jpg
Assets/TextMesh Pro/Examples & Extras/Textures/Sunny Days - Seamless.jpg.meta
Assets/TextMesh Pro/Resources/Sprite Assets/InlineIcons.png
Assets/TextMesh Pro/Resources/Sprite Assets/InlineIcons.png.meta
Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt
Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt.meta
Assets/TextMesh Pro/Sprites/EmojiOne.json
Assets/TextMesh Pro/Sprites/EmojiOne.json.meta
Assets/TextMesh Pro/Sprites/EmojiOne.png
Assets/TextMesh Pro/Sprites/EmojiOne.png.meta
